In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert

In [4]:
test.head()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency
0,18524,3.0,No,7.0,4.0,No,6.0,NaN
1,18525,NaN,Yes,0.0,0.0,Yes,5.0,1.0
2,18526,3.0,No,5.0,6.0,No,15.0,9.0
3,18527,3.0,No,4.0,4.0,No,5.0,6.0
4,18528,9.0,Yes,1.0,2.0,Yes,1.0,1.0

In [6]:
test_ids = test['id']
test_ids[:5]

0    18524
1    18525
2    18526
3    18527
4    18528
Name: id, dtype: int64

In [7]:
train = train.drop('id', axis=1)
test = test.drop('id', axis=1)
train.head(), test.head()

(   Time_spent_Alone Stage_fear  Social_event_attendance  Going_outside  \
 0               0.0         No                      6.0            4.0
 1               1.0         No                      7.0            3.0
 2               6.0        Yes                      1.0            0.0
 3               3.0         No                      7.0            3.0
 4               1.0         No                      4.0            4.0

   Drained_after_socializing  Friends_circle_size  Post_frequency Personality
 0                        No                 15.0             5.0   Extrovert
 1                        No                 10.0             8.0   Extrovert
 2                       NaN                  3.0             0.0   Introvert
 3                        No                 11.0             5.0   Extrovert
 4                        No                 13.0             NaN   Extrovert  ,
    Time_spent_Alone Stage_fear  Social_event_attendance  Going_outside  \
 0               3.0         No                      7.0            4.0
 1               NaN        Yes                      0.0            0.0
 2               3.0         No                      5.0            6.0
 3               3.0         No                      4.0            4.0
 4               9.0        Yes                      1.0            2.0

   Drained_after_socializing  Friends_circle_size  Post_frequency
 0                        No                  6.0             NaN
 1                       Yes                  5.0             1.0
 2                        No                 15.0             9.0
 3                        No                  5.0             6.0
 4                       Yes                  1.0             1.0  )

In [11]:
num_cols = train.select_dtypes(include='number').columns.tolist()
num_cols

['Time_spent_Alone',
 'Social_event_attendance',
 'Going_outside',
 'Friends_circle_size',
 'Post_frequency']

In [12]:
cat_cols = ['Stage_fear', 'Drained_after_socializing']

In [13]:
target = 'Personality'

In [14]:
train.isna().sum()

Time_spent_Alone             1190
Stage_fear                   1893
Social_event_attendance      1180
Going_outside                1466
Drained_after_socializing    1149
Friends_circle_size          1054
Post_frequency               1264
Personality                     0
dtype: int64

In [15]:
for col in cat_cols:
    train[col] = train[col].fillna('unknown')

In [18]:
for col in num_cols:
    train[col] = train[col].fillna(train[col].mean())

In [19]:
train.isna().sum()

Time_spent_Alone             0
Stage_fear                   0
Social_event_attendance      0
Going_outside                0
Drained_after_socializing    0
Friends_circle_size          0
Post_frequency               0
Personality                  0
dtype: int64

In [20]:
test.isna().sum()

Time_spent_Alone             425
Stage_fear                   598
Social_event_attendance      397
Going_outside                466
Drained_after_socializing    432
Friends_circle_size          350
Post_frequency               408
dtype: int64

In [21]:
for col in cat_cols:
    test[col] = test[col].fillna('unknown')
    
for col in num_cols:
    test[col] = test[col].fillna(test[col].mean())

In [22]:
test.isna().sum()

Time_spent_Alone             0
Stage_fear                   0
Social_event_attendance      0
Going_outside                0
Drained_after_socializing    0
Friends_circle_size          0
Post_frequency               0
dtype: int64

In [23]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [24]:
onehot = OneHotEncoder()

In [32]:
encoded = onehot.fit_transform(train[cat_cols])

In [38]:
encoded

<18524x6 sparse matrix of type '<class 'numpy.float64'>'
	with 37048 stored elements in Compressed Sparse Row format>

In [35]:
encoded_cols = onehot.get_feature_names_out(cat_cols)
encoded_cols

array(['Stage_fear_No', 'Stage_fear_Yes', 'Stage_fear_unknown',
       'Drained_after_socializing_No', 'Drained_after_socializing_Yes',
       'Drained_after_socializing_unknown'], dtype=object)